# Docker
**/*.log
**/node_modules/
**/__pycache__/
**/.env
**/data/

# IDE
**/.idea/
**/.vscode/

# OS
.DS_Store
Thumbs.db

# ---

*.env*
*.key
*.pem
*.pfx
secrets/
*secret*.yaml
*secret*.yml
*.kubeconfig
appsettings.local.json
local.settings.json

#-
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity

#-
build/
dist/

#-

kube/

#-

.kube/*snapshot
lock.mdb
assetgraph
request-graph
data.mdb
